body{
    background-image: url('assets/images/netflix-bgg.jpg') !important;
    opacity:;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    max-height: 150vh !important;
    width: 100% v;
    padding: 0 !important;
    margin: 0 !important;
    
}
 .box{
    background-color: rgba(12, 9, 9, 0.89) !important;
    width: 32% !important;
    margin-top: 8rem !important;
    margin-bottom: 5rem !important;
    margin-left: 40rem !important;
    padding-bottom: 100px !important;
    border-radius: 4px !important;
    
   
  
   
}

.my-email{
    width: 300px !important;
    height: 30px !important;
    padding: 10px !important;
    background-color: rgb(80, 80, 80) !important;
    border-style: none !important;
    border-radius: 4px !important;
    font-family: poppins !important;
    
}

.my-password{
    width: 300px !important;
    height: 30px !important;
    padding: 10px !important;
    background-color: rgb(80, 80, 80)  !important;
    border-style: none !important;
    border-radius: 4px !important;
    font-family: poppins !important;
}

.signin-btn{
    width: 320px !important;
    height: 50px !important;
    padding: 10px !important;
    margin-top: 45px !important;
    background-color: rgb(247, 6, 6) !important;
    border-style: none !important;
    border-radius: 4px !important;

}

.btn-a{
    margin-left: 0px !important;
    text-decoration: none !important;
    color: white !important;
    font-family: poppins !important;
}

.header-signin{
    margin-left: 4rem !important;
    font-family: poppins !important;
    padding-top: 4rem !important;
}

.checkbox{
    
    margin-top: 20px !important;
    margin-left: 50px !important;
}

.checkbox-label-1{
    color: rgb(131, 131, 131) !important;
    border-style: none !important;
    font-family: poppins !important;
}

.checkbox-label-2{
    color:rgb(131, 131, 131) !important;
    border-style: none !important;
    margin-left: 115px !important;
    font-family: poppins !important;
}

.net-para1{
    color: rgb(131, 131, 131) !important;
    border-style: none !important;
    margin-left: 50px !important;
    
}

.facebook-icon{
    margin-left: 50px !important;
    margin-top: 20px !important;
}


.facebook-label{
    color: rgb(131, 131, 131) !important;
    margin-bottom: 300px !important;
    margin-left: 3px !important;
    
}

.net-para2{
    color: rgb(131, 131, 131) !important;
    border-style: none !important;
    margin-left: 50px !important;
    font-family: poppins !important;
}

.signup-link{
    color: white !important;
    text-decoration: none !important;
}

.footer{
    background-color: rgba(12, 9, 9, 0.89) !important;
    width: 100% !important;
    height: 250px !important;
}

.footer a{
    color: white !important;
    padding-top: 4rem !important;
    margin-left: 0px !important;
}

.ul a{
    color: white;
    text-decoration: none;
    list-style-type: none ;
   
    

    
}

.box-1{
    background-color:rgb(121, 121, 165);
    height: 110%;
    width: 35%;
    margin-top: 8rem;
    margin-left: 37rem;
    margin-bottom: 8em;
    border-radius: 10px;
   
}

.header{
    color: rgb(8, 8, 61);
    font-family: poppins;
    font-size: 18px;
    font-weight: 300;
    padding-top: 50px;
    text-align: center;
}

.header-1{
    color: rgb(8, 8, 61);
    font-family: poppins;
    font-size: 40px;
    font-weight: 300;
    padding-top: 50px;
    text-align: center;
}

.form-content{
    padding-left: 50px;
    padding-top: 40px;
    font-family: poppins;
}

.form-content-1{
    padding-left: 50px;
    font-family: poppins;
}

.label-1{
    padding-left: 0px;
    color: white;
}
.label-2{
    padding-left: 0px;
    color: white;
}

.label-3{
    padding-left: 0px;
    color: white;
}

.label-4{
    padding-left: 0px;
    color: white;
}

.label-5{
    padding-left: 0px;
    color: white;
}

.label-6{
    padding-left: 0px;
    color: white;
}

.label-7{
    padding-left: 0px;
    color: black;
}

.label-8{
    padding-left: 0px;
    color: black;
}

.email{
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s;
    border-radius: 5px;
    border-width: 1.5px;
    box-shadow: darkgrey;
    width: 30rem;
    height: 50px;
    font-family: poppins;
}

.lastname{
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s;
    border-radius: 5px;
    border-width: 1.5px;
    box-shadow: darkgrey;
    width: 30rem;
    height: 50px;
    font-family: poppins;
}

.firstname{
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s;
    border-radius: 5px;
    border-width: 1.5px;
    border-bottom-color: rgb(8, 8, 61);
    width: 30rem;
    height: 50px;
    font-family: poppins;
}
.password{
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s;
    border-radius: 5px;
    border-width: 1.5px;
    box-shadow: darkgrey;
    width: 30rem;
    height: 50px;
    font-family: poppins;
}

.confirm-password{
    padding: 10px;
    border: 1px solid #ced4da;
    
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s;
    border-radius: 5px;
    border-width: 1.5px;
    box-shadow: darkgrey;
    width: 30rem;
    height: 50px;
    font-family: poppins;
}

.forgot-password{
    font-family: poppins;
    font-weight: 300;
    margin-left: 60px;
}
.button{
    background-color: rgb(3, 3, 107);
    box-shadow: none;
    color: white;
    margin-left:0px;
    padding: 1.1rem 6rem;
    border-radius: 50px;
    font-family: poppins;
    text-decoration: none;
}

.create-account{
    background-color: rgb(8, 8, 61);
    box-shadow: none;
    color: white;
    margin-left: 60px;
    padding: 1.1rem 6rem;
    border-radius: 50px;
    font-family: poppins;
    text-decoration: none;
}

.sign-up{
    font-family: poppins;
    font-weight: 300;
    color: white;
    margin-left: 50em;
    text-decoration: none;
}

.sign--in{
    font-family: poppins;
    color: white;
    margin-left: 6em;
    text-decoration: none;
}

.gabriel{
    color: white;
    text-decoration: none;
}

h1{
    color: white;
}