*{
   font-stretch: normal;
   box-sizing: border-box;
}


body{
margin: 0%;
padding: 0%;
background-image: url("web images/coin.jpg");
background-size: cover;


}


img{

   max-width: 150px;
   margin-left: 50px;
}

 nav,ul{

 list-style-type: none;
 text-decoration-color: white;
 overflow: hidden;
 margin-right: 40px;
 font-size: 1rem;


}

li{
    float: right;
}

li a{
 display: block;
 color: white;
 margin: 10px;
 padding: 10px;
 text-decoration: none;
 font-family: poppins;
}

.active {
    background-color: rgb(39, 3, 240);
    color: white;
    border-radius: 50px;
    padding: 0.7rem 1.7rem;
    
}
 
 



h1{
    text-align: center;
    color: white;
    font-size: 3vw;
    font-family: poppins;
    margin-top: 0%;
    

}



section p{
   font-size: 1.0rem;
   color: white;
   font-family: poppins;
   text-align: center;
   
 }

section input{

    color: white;
    border-radius: 100px;
    border-style: none;           
    background-color: rgb(255, 208, 0);
    padding: 1rem;
    font-family: poppins;
    font-size: 1.2rem;
    margin-left: 500px;
}

